.map-process-card{
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;    
    transition: background-color .3s ease-out;
    cursor:pointer;
}
.map-process-card i{
    font-size: 34px;
    opacity: .8;
    transition: all .3s;    
}
.blockquote-footer::before {
    color: #fff;
    opacity: .7;
}
.map-process-card p{
    font-size: 17px;
    margin-top: 17px;    
}
.map-process-card small{
    color: #fff;
    opacity: .7;   
}
.top-container{
    margin-top: 30px;
}
.pagination-prev-next-area{
    display: inline-block;
    float: right;
    width: 222px;
}
.pagination-prev-next-number-area{
    display: inline-block;
    float: left;    
}
.pagination-prev-next-number-area svg{
    display: inline-block;
    width: 20px;
    vertical-align: sub;    
}
.site-pagination{
    display: inline-block;
    width: 100%;
    border-top: 1px solid #eee;
    padding-top: 30px;
    margin-top: 10px;
}